.corp{
    display: flex;
    gap: 300px;
}
#Bonjour{
    color: #1498FD;
    text-decoration: underline;
}
.gauche{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #1498FD;
    width: 30%;
    height: 100vh;

}


.droite{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 300px;

}
.bienvenue{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: SF Pro Display;
    gap: 20px;
}

.droite button{
    padding: 35px 260px;
    border: 0;
    border-radius: 100px;
    color: white;
    font-family: SF Pro Display;
    font-size: 34px;
    background-color: #0D95FD;
    transition: 1s;
}
.deconnexion{
    border: 0;
    border-radius: 30px;
    padding: 20px 150px;
    font-family: SF Pro Display;
    font-size: larger;
    color: white;
    background-color: #E62E2E;
    margin-bottom: 30px;
    transition: 1s;

}

@media (max-width: 1500px){
    .deconnexion{
        padding: 10px 50px;
        transition: 1s;
    }
    .droite button{
        padding: 10px 50px;
        font-size: 20px;
        transition: 1s;
    }
}

